html {
  scroll-behavior: smooth;
}

:root {
  --pressed: #292929;
  --bg-form: #e5e5e5;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background-image: url(/images/header/Headphones.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background: var(--bg-form);
}

.menu-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav-link {
  color: var(--pressed);
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
