.how-to-buy {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.how-to-buy-title {
  flex-basis: 50%;
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.5px;
}

.how-to-buy-content {
  flex-basis: 50%;
}

.how-to-buy-benefits {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
}
